/*

*/

.version._______ /* version checker */
{
	color: #00001E;
	background-color: #10C299;
}

.html
{
	background: #F3EEEE url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1047px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFF4EC;
	margin-left: auto;
	margin-right: auto;
}

#pu210
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u210_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
	padding-top: 9px;
	padding-bottom: 26px;
}

#pu243
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u243
{
	z-index: 50;
	width: 246px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u176-4
{
	z-index: 35;
	width: 274px;
	min-height: 39px;
	margin-right: -10000px;
	left: 726px;
}

#u99
{
	z-index: 3;
	width: 1000px;
	padding-bottom: 16px;
	left: 100px;
	margin-top: 18px;
}

#menuu116
{
	z-index: 4;
	width: 954px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u191
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u192
{
	width: 173px;
	padding-bottom: 10px;
}

#u192:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u192.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u194-4
{
	width: 98px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u192:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u192.MuseMenuActive #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 142px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u125
{
	width: 142px;
	padding-bottom: 10px;
}

#u125:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u125.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u127-4
{
	width: 67px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u125:hover #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u125.MuseMenuActive #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u117
{
	width: 235px;
	min-height: 34px;
	margin-right: -10000px;
	left: 319px;
}

#u118
{
	width: 235px;
	padding-bottom: 10px;
}

#u118.MuseMenuActive
{
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u121-4
{
	width: 161px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u118:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u118.MuseMenuActive #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u145
{
	width: 207px;
	min-height: 34px;
	margin-right: -10000px;
	left: 556px;
}

#u148
{
	width: 207px;
	padding-bottom: 10px;
}

#u148.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u150-4
{
	width: 133px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u148:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u148.MuseMenuActive #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 189px;
	min-height: 34px;
	margin-right: -10000px;
	left: 765px;
}

#u141
{
	width: 189px;
	padding-bottom: 10px;
}

#u141.MuseMenuActive
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u141:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u141.MuseMenuActive #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u210,#u210-bw
{
	z-index: 2;
	min-height: 179px;
}

#u220
{
	z-index: 39;
	width: 590px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 100px;
}

#u220_position_content
{
	padding-top: 29px;
	padding-bottom: 140px;
}

#u171-4
{
	z-index: 139;
	width: 311px;
	min-height: 41px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #043762;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 345px;
	position: relative;
}

#u230
{
	z-index: 49;
	width: 389px;
	height: 503px;
	margin-top: 37px;
}

#pamphletu510
{
	z-index: 52;
	width: 0.01px;
	height: 27px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 826px;
}

#u521
{
	z-index: 53;
	width: 274px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u522
{
	width: 274px;
	padding-bottom: 3px;
	top: -3px;
}

#u178-4
{
	z-index: 55;
	width: 274px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u522:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 274px;
	margin: 3px -10000px 0px 0px;
}

#u522.PamphletThumbSelected #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 274px;
	margin: 3px -10000px 0px 0px;
}

#u517popup
{
	z-index: 59;
}

#u517
{
	width: 565px;
	padding-bottom: 44px;
	top: 90px;
	left: -508px;
}

#u518
{
	z-index: 60;
	width: 521px;
	height: 691px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u519
{
	z-index: 61;
	width: 520px;
	min-height: 690px;
	margin-right: -10000px;
	left: 1px;
}

#u513
{
	width: 30px;
	padding-bottom: 3px;
	top: 115px;
	left: -17px;
}

#u514-4
{
	z-index: 63;
	width: 20px;
	min-height: 30px;
	margin-right: -10000px;
	left: 5px;
}

#u514-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u169-63
{
	z-index: 67;
	width: 942px;
	min-height: 467px;
	background-color: transparent;
	color: #242424;
	position: relative;
	margin-right: -10000px;
	margin-top: 262px;
	left: 130px;
}

#u169-5
{
	font-size: 20px;
	text-align: justify;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u169
{
	font-size: 16px;
	font-family: open-sans, sans-serif;
}

#u443
{
	float: left;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-right: 15px;
}

#u440
{
	z-index: 72;
	width: 359px;
	background-color: transparent;
}

#u169-3
{
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	line-height: 19px;
}

#u169-2,#u169-4
{
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	line-height: 19px;
}

#u169-6,#u169-9
{
	font-size: 20px;
	text-align: justify;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
}

#u169-27
{
	text-decoration: underline;
	font-weight: 700;
}

#u169-36
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u564
{
	z-index: 106;
	width: 176px;
	background-color: transparent;
}

#u564_img
{
	vertical-align: bottom;
}

#u531
{
	z-index: 111;
	width: 175px;
	background-color: transparent;
}

#u531_img
{
	padding-bottom: 3px;
	vertical-align: bottom;
}

#u169-8,#u169-21,#u169-22,#u169-24,#u169-25,#u169-29,#u169-30,#u169-37
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u169-39
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u169-38
{
	text-decoration: underline;
}

#u169-11,#u169-13,#u169-15,#u169-17,#u169-19,#u169-42
{
	font-weight: 700;
}

#u169-44,#u169-46,#u169-48,#u169-50,#u169-52,#u169-54,#u169-56,#u169-58
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	padding-left: 30px;
	padding-bottom: 8px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u169-59 > #u169-44:before,#u169-59 > #u169-46:before,#u169-59 > #u169-48:before,#u169-59 > #u169-50:before,#u169-59 > #u169-52:before,#u169-59 > #u169-54:before,#u169-59 > #u169-56:before,#u169-59 > #u169-58:before
{
	margin-right: -24px;
}

#u169-59.rtl-list > #u169-44:before,#u169-59.rtl-list > #u169-46:before,#u169-59.rtl-list > #u169-48:before,#u169-59.rtl-list > #u169-50:before,#u169-59.rtl-list > #u169-52:before,#u169-59.rtl-list > #u169-54:before,#u169-59.rtl-list > #u169-56:before,#u169-59.rtl-list > #u169-58:before
{
	margin-right: 0px;
	margin-left: -24px;
}

#u169-40,#u169-60,#u169-61
{
	font-size: 16px;
	text-align: justify;
	line-height: 19px;
	padding-left: 30px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u174
{
	z-index: 40;
	width: 346px;
	margin-right: -10000px;
	margin-top: 1230px;
	padding: 23px 628px 27.049999999999955px 26px;
}

#u183-4
{
	z-index: 45;
	width: 346px;
	min-height: 19px;
}

#u182-4
{
	z-index: 41;
	width: 174px;
	min-height: 19px;
	margin-top: 8px;
}

@font-face
{
	font-family: '__BigBossIcon_5';
	src: url('../fonts/bigbossicon.eot');
	src: local('☺'), url('../fonts/bigbossicon.woff') format('woff'), url('../fonts/bigbossicon.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1229px;
}

