/*

*/

.version.__________ /* version checker */
{
	color: #000002;
	background-color: #947490;
}

.html
{
	background: #F3EEEE url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 955.9499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFF4EC;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#pu210
{
	width: 0.01px;
	margin-left: -100px;
}

#u210_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
	padding-top: 9px;
	padding-bottom: 26px;
}

#pu243
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u243
{
	z-index: 50;
	width: 246px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u176-4
{
	z-index: 35;
	width: 274px;
	min-height: 39px;
	margin-right: -10000px;
	left: 726px;
}

#u99
{
	z-index: 3;
	width: 1000px;
	padding-bottom: 16px;
	left: 100px;
	margin-top: 18px;
}

#menuu116
{
	z-index: 4;
	width: 954px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u191
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u192
{
	width: 173px;
	padding-bottom: 10px;
}

#u192:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u192.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u194-4
{
	width: 98px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u192:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u192.MuseMenuActive #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 142px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u125
{
	width: 142px;
	padding-bottom: 10px;
}

#u125:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u125.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u127-4
{
	width: 67px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u125:hover #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u125.MuseMenuActive #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u117
{
	width: 235px;
	min-height: 34px;
	margin-right: -10000px;
	left: 319px;
}

#u118
{
	width: 235px;
	padding-bottom: 10px;
}

#u118.MuseMenuActive
{
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u121-4
{
	width: 161px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u118:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u118.MuseMenuActive #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u145
{
	width: 207px;
	min-height: 34px;
	margin-right: -10000px;
	left: 556px;
}

#u148
{
	width: 207px;
	padding-bottom: 10px;
}

#u148.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u150-4
{
	width: 133px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u148:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u148.MuseMenuActive #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 189px;
	min-height: 34px;
	margin-right: -10000px;
	left: 765px;
}

#u141
{
	width: 189px;
	padding-bottom: 10px;
}

#u141.MuseMenuActive
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u141:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u141.MuseMenuActive #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u210,#u210-bw
{
	z-index: 2;
	min-height: 179px;
}

#u220
{
	z-index: 39;
	width: 590px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 100px;
}

#u220_position_content
{
	padding-top: 31px;
	padding-bottom: 140px;
}

#u189-4
{
	z-index: 67;
	width: 311px;
	min-height: 41px;
	background-color: transparent;
	line-height: 43px;
	font-size: 36px;
	text-align: center;
	color: #043762;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	margin-left: 345px;
	position: relative;
}

#u230
{
	z-index: 49;
	width: 389px;
	height: 503px;
	margin-top: 34px;
}

#pamphletu510
{
	z-index: 52;
	width: 0.01px;
	height: 27px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 826px;
}

#u521
{
	z-index: 53;
	width: 274px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u522
{
	width: 274px;
	padding-bottom: 3px;
	top: -3px;
}

#u178-4
{
	z-index: 55;
	width: 274px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u522:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 274px;
	margin: 3px -10000px 0px 0px;
}

#u522.PamphletThumbSelected #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 274px;
	margin: 3px -10000px 0px 0px;
}

#u517popup
{
	z-index: 59;
}

#u517
{
	width: 565px;
	padding-bottom: 44px;
	top: 90px;
	left: -508px;
}

#u518
{
	z-index: 60;
	width: 521px;
	height: 691px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u519
{
	z-index: 61;
	width: 520px;
	min-height: 690px;
	margin-right: -10000px;
	left: 1px;
}

#u513
{
	width: 30px;
	padding-bottom: 3px;
	top: 115px;
	left: -17px;
}

#u514-4
{
	z-index: 63;
	width: 20px;
	min-height: 30px;
	margin-right: -10000px;
	left: 5px;
}

#u227
{
	z-index: 71;
	width: 1000px;
	min-height: 450px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
	left: 100px;
}

#pamphletu250
{
	z-index: 72;
	width: 0.01px;
	height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 369px;
	left: 150px;
}

#u251
{
	z-index: 73;
	width: 181px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
}

#u254
{
	position: absolute;
	width: 187px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 3px;
}

#u756-6
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
}

#u255
{
	position: absolute;
	width: 565px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127,127,127,0.9);
	padding-bottom: 44px;
	top: -347px;
	left: 636px;
	-pie-background: rgba(127,127,127,0.9);
}

#u255popup
{
	z-index: 84;
}

#u258
{
	z-index: 85;
	width: 521px;
	height: 701px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u293
{
	z-index: 86;
	width: 520px;
	min-height: 700px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u262
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 3px;
	top: -322px;
	left: 1127px;
}

#u263-4
{
	z-index: 88;
	width: 20px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 30px;
	font-size: 61px;
	text-align: center;
	color: #7F7F7F;
	font-family: '__BigBossIcon_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u514-4:hover,#u263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u263-4:hover p
{
	color: #D7D4D4;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u746-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	margin-left: 50px;
	top: -612px;
	margin-bottom: -20px;
	position: relative;
}

#u755-5
{
	z-index: 96;
	display: block;
	vertical-align: top;
	margin-left: 50px;
	top: -579px;
	margin-bottom: -25px;
	position: relative;
}

#u174
{
	z-index: 40;
	width: 346px;
	margin-top: 1px;
	padding: 23px 628px 27.049999999999955px 26px;
}

#u183-4
{
	z-index: 45;
	width: 346px;
	min-height: 19px;
}

#u182-4
{
	z-index: 41;
	width: 174px;
	min-height: 19px;
	margin-top: 8px;
}

@font-face
{
	font-family: '__BigBossIcon_5';
	src: url('../fonts/bigbossicon.eot');
	src: local('☺'), url('../fonts/bigbossicon.woff') format('woff'), url('../fonts/bigbossicon.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
}

