#u176-4,#u194-4
{
	font-family: open-sans-n4, sans-serif;
}

#u127-4
{
	font-family: open-sans-n4, sans-serif;
}

#u121-4
{
	font-family: open-sans-n4, sans-serif;
}

#u150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u142-4
{
	font-family: open-sans-n4, sans-serif;
}

#u178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u514-4
{
	font-family: '__BigBossIcon_5';
}

#u183-4,#u182-4
{
	font-family: open-sans-n4, sans-serif;
}

#u189-4
{
	font-family: open-sans-n7, sans-serif;
}

#u263-4
{
	font-family: '__BigBossIcon_5';
}

