#u176-4,#u194-4
{
	font-family: open-sans-n4, sans-serif;
}

#u127-4
{
	font-family: open-sans-n4, sans-serif;
}

#u121-4
{
	font-family: open-sans-n4, sans-serif;
}

#u150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u142-4
{
	font-family: open-sans-n4, sans-serif;
}

#u178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u514-4
{
	font-family: '__BigBossIcon_5';
}

#u183-4,#u182-4
{
	font-family: open-sans-n4, sans-serif;
}

#u186-4,#u844-4,#u845-4,#u853-4
{
	font-family: open-sans-n7, sans-serif;
}

#u185-90,#u185-92,#u872-9,#u804-27
{
	font-family: open-sans-i7, sans-serif;
}

#u872-33,#u872-37,#u872-41,#u872-45,#u872-49,#u804-44
{
	font-family: open-sans-i3, sans-serif;
}

#u185-4,#u185-5,#u185-7,#u185-8,#u185-10,#u185-11,#u185-13,#u185-15,#u185-18,#u185-20,#u185-22,#u185-25,#u185-27,#u185-29,#u185-31,#u185-33,#u185-35,#u185-37,#u185-39,#u185-41,#u185-43,#u185-44,#u185-46,#u185-47,#u185-49,#u185-50,#u185-52,#u185-53,#u185-55,#u185-56,#u185-58,#u185-59,#u185-61,#u185-63,#u185-65,#u185-67,#u185-69,#u185-71,#u185-73,#u185-75,#u185-77,#u185-79,#u185-81,#u185-82,#u185-84,#u185-85,#u185-86,#u185-88,#u185-89,#u185-93,#u185-94,#u185-96,#u185-97,#u185-101,#u185-102,#u185-104,#u185-105,#u185-107,#u185-108,#u185-110,#u185-111,#u185-113,#u185-115,#u185-116,#u185-118,#u185-120,#u185-121,#u185-123,#u185-124,#u185-126,#u185-127,#u862-4,#u864-4,#u863-4,#u871-4,#u858-8,#u867-4,#u868-4,#u859-3,#u856-10,#u861-4,#u860-8,#u865-4,#u870-4,#u866-4,#u857-4,#u869-4,#u872-2,#u872-3,#u872-5,#u872-6,#u872-7,#u872-10,#u872-12,#u872-13,#u872-15,#u872-16,#u872-18,#u872-20,#u872-22,#u872-24,#u872-26,#u872-28,#u872-30,#u872-32,#u872-35,#u872-36,#u872-39,#u872-40,#u872-43,#u872-44,#u872-47,#u872-48,#u872-51,#u872-52,#u872-53,#u872-55,#u872-56,#u872-58,#u872-59,#u872-61,#u872-63,#u872-64,#u872-66,#u872-67,#u872-69,#u872-70,#u872-72,#u872-73,#u872-75,#u872-76,#u872-78,#u846-3,#u841-4,#u840-4,#u848-4,#u843-4,#u838-4,#u849-4,#u842-4,#u851-4,#u839-4,#u850-4,#u847-4,#u852-4,#u854-18,#u802-4,#u795-4,#u800-4,#u788-4,#u786-4,#u784-3,#u803-4,#u793-4,#u791-4,#u787-4,#u785-4,#u799-4,#u796-4,#u794-4,#u798-4,#u801-4,#u789-4,#u790-4,#u797-4,#u792-4,#u804-2,#u804-3,#u804-5,#u804-6,#u804-8,#u804-10,#u804-12,#u804-14,#u804-16,#u804-18,#u804-20,#u804-21,#u804-23,#u804-24,#u804-25,#u804-28,#u804-30,#u804-31,#u804-33,#u804-35,#u804-37,#u804-39,#u804-41,#u804-42,#u804-47,#u834-4
{
	font-family: open-sans-n4, sans-serif;
}

#u833-4
{
	font-family: '__BigBossIcon_5';
}

