#u176-4,#u194-4
{
	font-family: open-sans-n4, sans-serif;
}

#u127-4
{
	font-family: open-sans-n4, sans-serif;
}

#u121-4
{
	font-family: open-sans-n4, sans-serif;
}

#u150-4
{
	font-family: open-sans-n4, sans-serif;
}

#u142-4
{
	font-family: open-sans-n4, sans-serif;
}

#u178-4
{
	font-family: open-sans-n4, sans-serif;
}

#u514-4
{
	font-family: '__BigBossIcon_5';
}

#u183-4,#u182-4
{
	font-family: open-sans-n4, sans-serif;
}

#u171-4
{
	font-family: open-sans-n7, sans-serif;
}

#u169-5,#u169-6,#u169-9
{
	font-family: open-sans-n6, sans-serif;
}

#u169,#u169-2,#u169-3,#u169-4,#u169-8,#u169-21,#u169-22,#u169-24,#u169-25,#u169-29,#u169-30,#u169-36,#u169-37,#u169-39,#u169-40,#u169-44,#u169-46,#u169-48,#u169-50,#u169-52,#u169-54,#u169-56,#u169-58,#u169-60,#u169-61
{
	font-family: open-sans-n4, sans-serif;
}

