/*

*/

.version.index /* version checker */
{
	color: #0000F2;
	background-color: #B077EC;
}

.html
{
	background: #F3EEEE url("../images/bg.jpg") no-repeat center top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 947px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFF4EC;
	margin-left: auto;
	margin-right: auto;
}

#pu210
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u210_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
	padding-top: 9px;
	padding-bottom: 26px;
}

#pu243
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u243
{
	z-index: 50;
	width: 246px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u176-4
{
	z-index: 35;
	width: 274px;
	min-height: 39px;
	margin-right: -10000px;
	left: 726px;
}

#u99
{
	z-index: 3;
	width: 1000px;
	padding-bottom: 16px;
	left: 100px;
	margin-top: 18px;
}

#menuu116
{
	z-index: 4;
	width: 954px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u191
{
	width: 173px;
	min-height: 34px;
	margin-right: -10000px;
}

#u192
{
	width: 173px;
	padding-bottom: 10px;
}

#u192:hover
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u192.MuseMenuActive
{
	width: 173px;
	min-height: 0px;
	margin: 0px;
}

#u194-4
{
	width: 98px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u192:hover #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u192.MuseMenuActive #u194-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 98px;
	margin: 0px -10000px 0px 0px;
}

#u124
{
	width: 142px;
	min-height: 34px;
	margin-right: -10000px;
	left: 175px;
}

#u125
{
	width: 142px;
	padding-bottom: 10px;
}

#u125:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u125.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u127-4
{
	width: 67px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u125:hover #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u125.MuseMenuActive #u127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u117
{
	width: 235px;
	min-height: 34px;
	margin-right: -10000px;
	left: 319px;
}

#u118
{
	width: 235px;
	padding-bottom: 10px;
}

#u118.MuseMenuActive
{
	width: 235px;
	min-height: 0px;
	margin: 0px;
}

#u121-4
{
	width: 161px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u118:hover #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u118.MuseMenuActive #u121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u145
{
	width: 207px;
	min-height: 34px;
	margin-right: -10000px;
	left: 556px;
}

#u148
{
	width: 207px;
	padding-bottom: 10px;
}

#u148.MuseMenuActive
{
	width: 207px;
	min-height: 0px;
	margin: 0px;
}

#u150-4
{
	width: 133px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u148:hover #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u148.MuseMenuActive #u150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 133px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 189px;
	min-height: 34px;
	margin-right: -10000px;
	left: 765px;
}

#u141
{
	width: 189px;
	padding-bottom: 10px;
}

#u141.MuseMenuActive
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u142-4
{
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	top: 5px;
	left: 37px;
}

#u141:hover #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u141.MuseMenuActive #u142-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 115px;
	margin: 0px -10000px 0px 0px;
}

#u210,#u210-bw
{
	z-index: 2;
	min-height: 179px;
}

#u220
{
	z-index: 39;
	width: 590px;
	padding-bottom: 140px;
	margin-right: -10000px;
	margin-top: 153px;
	left: 100px;
}

#u230
{
	z-index: 49;
	width: 389px;
	height: 503px;
	margin-right: -10000px;
	margin-top: 108px;
}

#pamphletu510
{
	z-index: 52;
	width: 0.01px;
	height: 27px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 45px;
	left: 826px;
}

#u521
{
	z-index: 53;
	width: 274px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u522
{
	width: 274px;
	padding-bottom: 3px;
	top: -3px;
}

#u178-4
{
	z-index: 55;
	width: 274px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u522:hover #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 274px;
	margin: 3px -10000px 0px 0px;
}

#u522.PamphletThumbSelected #u178-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 274px;
	margin: 3px -10000px 0px 0px;
}

#u517popup
{
	z-index: 59;
}

#u517
{
	width: 565px;
	padding-bottom: 44px;
	top: 90px;
	left: -508px;
}

#u518
{
	z-index: 60;
	width: 521px;
	height: 691px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u519
{
	z-index: 61;
	width: 520px;
	min-height: 690px;
	margin-right: -10000px;
	left: 1px;
}

#u513
{
	width: 30px;
	padding-bottom: 3px;
	top: 115px;
	left: -17px;
}

#u514-4
{
	z-index: 63;
	width: 20px;
	min-height: 30px;
	margin-right: -10000px;
	left: 5px;
}

#u514-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 20px;
	margin: 0px -10000px 0px 0px;
}

#u156
{
	z-index: 67;
	width: 1000px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 100px;
	background: transparent url("../images/imgo.jpg") no-repeat right center;
	background-size: contain;
}

#u166
{
	z-index: 68;
	width: 545px;
	background: transparent url("../images/u166-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, color-stop(73%, #2178C1),color-stop(99%, rgba(33,120,193,0)));
	background: -webkit-linear-gradient(left,#2178C1 400px,rgba(33,120,193,0) 540px);
	background: linear-gradient(to right,#2178C1 400px,rgba(33,120,193,0) 540px);
	padding-bottom: 88px;
	position: relative;
	margin-right: -10000px;
}

#u167
{
	z-index: 69;
	width: 482px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 27px;
}

#u163-4
{
	z-index: 70;
	width: 482px;
	min-height: 15px;
	background-color: transparent;
	line-height: 61px;
	font-size: 51px;
	color: #D0FCFD;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
}

#u212-5
{
	z-index: 74;
	width: 482px;
	min-height: 15px;
	background-color: transparent;
	line-height: 61px;
	font-size: 51px;
	color: #FFF4EC;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 20px;
	position: relative;
}

#u212
{
	color: #D0FCFC;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u164-4
{
	z-index: 79;
	width: 482px;
	min-height: 15px;
	background-color: transparent;
	line-height: 61px;
	font-size: 51px;
	color: #FFF4EC;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u206-7
{
	z-index: 83;
	width: 945px;
	min-height: 129px;
	background-color: transparent;
	line-height: 26px;
	font-size: 20px;
	text-align: justify;
	color: #242424;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 596px;
	left: 127px;
}

#u174
{
	z-index: 40;
	width: 346px;
	margin-right: -10000px;
	margin-top: 905px;
	padding: 23px 628px 27.049999999999955px 26px;
}

#u183-4
{
	z-index: 45;
	width: 346px;
	min-height: 19px;
}

#u182-4
{
	z-index: 41;
	width: 174px;
	min-height: 19px;
	margin-top: 8px;
}

@font-face
{
	font-family: '__BigBossIcon_5';
	src: url('../fonts/bigbossicon.eot');
	src: local('☺'), url('../fonts/bigbossicon.woff') format('woff'), url('../fonts/bigbossicon.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1000px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -904px;
}

